.r{
    width: 100%;
    margin-top: 10px;
}

.i2{
  width: 90%;
  margin-top: 10px;
}

.i3{
    width: 89%;
    margin-top: 10px;
}

.i4{
    width: 100%;
    margin-top: 10px;
}

body{
    background: #660808;
}